<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
    <p class="card-text">
      <small class="text-muted">
        Posted on <%= blog.created_at.to_date %> by <%= link_to blog.user.username, profile_path(blog.user.username) %>
      </small>
    </p>

    <p class="card-text"><%= blog.body[0..25]... %></p>

    <span class="text-secondary badge">
      <p><%= blog.likes_count || "0" %> Likes</p>
    </span><br>

    <%= link_to "Read More", blog_path(blog), class: "btn btn-primary" %>
  </div>
</div>
