<%= form_with model: blog do |form| %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", required: true %>
    <%= render "errors/show_errors", obj: blog, attr: :title %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control", rows: 5, required: true %>
    <%= render "errors/show_errors", obj: blog, attr: :body %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :visible, class: "form-check-input" %>
    <%= form.label :visible, class: "form-check-label" %>
  </div>

  <div class="mb-3">
    <%= form.file_field :pictures, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>
