<ul class="list-group">
  <li class="list-group-item">
    <img src= <%= profile_picture_url(comment.user.profile) %> alt="Author Profile" width="50" height="50" class="rounded-circle me-2">
    <%= link_to writer_full_name(comment), profile_path(comment.user.username), class: "text-secondary link-offset-2 link-underline link-underline-opacity-25" %>
    <%= link_to comment.comment_text, comment_path(comment), class: "text-dark my-2", style: "display: block; text-decoration: none" %>

    <% if @current_user.id == comment.user_id %>
      <%= link_to "Delete", comment_path(comment), class: "btn btn-outline-danger mb-1", data: { turbo_confirm: "Are you sure", turbo_method: "delete" }, style: "--bs-btn-padding-y: .30rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;" %>
      <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-outline-primary mb-1", style: "--bs-btn-padding-y: .30rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;" %>
    <% end %>

    <p class="card-text">
      <small class="text-muted">
        posted on <%= comment.created_at.to_date.to_fs(:rfc822) %>
      </small>
    </p>
  </li>
</ul>
