<h5 class="card-title mb-3">Confirm your password</h5>
<%= form_with url: user_path, method: "delete" do |form| %>
  <div class="mb-3">
    <%= form.label "Enter password:", class: "form-label" %>
    <%= form.password_field :password, class: "form-control", rows: 5, required: true %>
    <b class="text-danger ms-2"><%= flash[:alert] %></b>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
