<h5 class="card-title mb-3">Update your detail</h5>
<%= form_with url: user_path, model: @current_user, method: "patch" do |form| %>
  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control", required: true %>
    <%= render "errors/show_errors", obj: @current_user, attr: :username %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", required: true %>
    <%= render "errors/show_errors", obj: @current_user, attr: :email %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", rows: 5, required: true %>
    <%= render "errors/show_errors", obj: @current_user, attr: :password %>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
